# Import JSON data into Dataframe

{"name":"John", "grade": 4}
{"name":"Marry", "grade": 9}
{"name":"Peter", "grade": 7}

In [7]:
df = spark.read.json("data/student.json")

In [8]:
df

DataFrame[grade: bigint, name: string]

In [9]:
df.show()

+-----+-----+
|grade| name|
+-----+-----+
|    4| John|
|    9|Marry|
|    7|Peter|
+-----+-----+

In [10]:
df.printSchema()

root
 |-- grade: long (nullable = true)
 |-- name: string (nullable = true)

In [12]:
df.columns

['grade', 'name']

In [13]:
df.count()

3

In [14]:
df.describe()

DataFrame[summary: string, grade: string, name: string]

In [15]:
df.describe().show()

+-------+-----------------+-----+
|summary|            grade| name|
+-------+-----------------+-----+
|  count|                3|    3|
|   mean|6.666666666666667| null|
| stddev|2.516611478423583| null|
|    min|                4| John|
|    max|                9|Peter|
+-------+-----------------+-----+

In [17]:
df.head(10)

[Row(grade=4, name='John'),
 Row(grade=9, name='Marry'),
 Row(grade=7, name='Peter')]