# Reading text file

In [1]:
with open("data/news.txt", 'r') as file:
    print(file.readlines())

['Why Infrastructure Is So Expensive \n', 'A subway-style diagram of the major Roman roads\n', 'Baby Bird from Time of Dinosaurs Found Fossilized\n', 'MIT Gets $140M Pledge from Anonymous Donor (wsj.com)\n', 'How hackers abused satellites to stay under the radar (2015)\n', 'Fiduciary Rule Fight Brews While Bad Financial Advisers\n', 'In 1957, Five Men Agreed to Stand Under an Exploding Nuclear Bomb\n']

 # Read .csv File

In [2]:
import numpy as np
import pandas as pd

In [3]:
mnist_data = np.loadtxt('data/mnist.csv', dtype=float, comments='#', delimiter=',')

In [4]:
mnist_data

array([[5., 0., 0., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [3., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [5]:
titanic_data = np.genfromtxt('data/titanic.csv', delimiter=',', dtype=None, encoding='utf-8', skip_header=1)

In [6]:
titanic_data

array([( 1, '1st', 'Male', 'Child', 'No', '0'),
       ( 2, '2nd', 'Male', 'Child', 'No', '0'),
       ( 3, '3rd', 'Male', 'Child', 'No', '35'),
       ( 4, 'Crew', 'Male', 'Child', 'No', '0'),
       ( 5, '1st', 'Female', 'Child', 'No', '0'),
       ( 6, '2nd', 'Female', 'Child', 'No', '0␊'),
       ( 7, '3rd', 'Female', 'Child', 'No', '17'),
       ( 8, 'Crew', 'Female', 'Child', 'No', '0'),
       ( 9, '1st', 'Male', 'Adult', 'No', '118'),
       (10, '2nd', 'Male', 'Adult', 'No', '154'),
       (11, '3rd', 'Male', 'Adult', 'No', '387'),
       (12, 'Crew', 'Male', 'Adult', 'No', '670'),
       (13, '1st', 'Female', 'Adult', 'No', '4'),
       (14, '2nd', 'Female', 'Adult', 'No', '13'),
       (15, '3rd', 'Female', 'Adult', 'No', '89'),
       (16, 'Crew', 'Female', 'Adult', 'No', '3'),
       (17, '1st', 'Male', 'Child', 'Yes', '5'),
       (18, '2nd', 'Male', 'Child', 'Yes', '11'),
       (19, '3rd', 'Male', 'Child', 'Yes', '13'),
       (20, 'Crew', 'Male', 'Child', 'Yes', '0'),
       (21, '1st', 'Female', 'Child', 'Yes', '1'),
       (22, '2nd', 'Female', 'Child', 'Yes', '13'),
       (23, '3rd', 'Female', 'Child', 'Yes', '14'),
       (24, 'Crew', 'Female', 'Child', 'Yes', '0'),
       (25, '1st', 'Male', 'Adult', 'Yes', '57'),
       (26, '2nd', 'Male', 'Adult', 'Yes', '14'),
       (27, '3rd', 'Male', 'Adult', 'Yes', '75'),
       (28, 'Crew', 'Male', 'Adult', 'Yes', '192'),
       (29, '1st', 'Female', 'Adult', 'Yes', '140'),
       (30, '2nd', 'Female', 'Adult', 'Yes', '80')],
      dtype=[('f0', '<i8'), ('f1', '<U4'), ('f2', '<U6'), ('f3', '<U5'), ('f4', '<U3'), ('f5', '<U3')])

In [7]:
titanic = pd.read_csv('data/titanic.csv')

In [8]:
titanic

    No Class     Sex    Age Survived Freq
0    1   1st    Male  Child       No    0
1    2   2nd    Male  Child       No    0
2    3   3rd    Male  Child       No   35
3    4  Crew    Male  Child       No    0
4    5   1st  Female  Child       No    0
5    6   2nd  Female  Child       No   0␊
6    7   3rd  Female  Child       No   17
7    8  Crew  Female  Child       No    0
8    9   1st    Male  Adult       No  118
9   10   2nd    Male  Adult       No  154
10  11   3rd    Male  Adult       No  387
11  12  Crew    Male  Adult       No  670
12  13   1st  Female  Adult       No    4
13  14   2nd  Female  Adult       No   13
14  15   3rd  Female  Adult       No   89
15  16  Crew  Female  Adult       No    3
16  17   1st    Male  Child      Yes    5
17  18   2nd    Male  Child      Yes   11
18  19   3rd    Male  Child      Yes   13
19  20  Crew    Male  Child      Yes    0
20  21   1st  Female  Child      Yes    1
21  22   2nd  Female  Child      Yes   13
22  23   3rd  Female  Child      Yes   14
23  24  Crew  Female  Child      Yes    0
24  25   1st    Male  Adult      Yes   57
25  26   2nd    Male  Adult      Yes   14
26  27   3rd    Male  Adult      Yes   75
27  28  Crew    Male  Adult      Yes  192
28  29   1st  Female  Adult      Yes  140
29  30   2nd  Female  Adult      Yes   80

# Excel and Matlab .m files

In [9]:
file = pd.ExcelFile('data/ExcelTest.xlsx')

In [10]:
file.sheet_names

['s1', 's2']

In [11]:
df1 = file.parse('s1')
df2 = file.parse('s2')

In [12]:
df2

,10,Xerox 1980,Neola Schneider,807,-166.85,4.28,6.18,Nunavut,Paper,0.4
0,1,Advantus Map Pennant Flags and Round Head Tacks,Neola Schneider,807,-14.330,3.95,2.00,Nunavut,Rubber Bands,0.53
1,1,Holmes HEPA Air Purifier,Carlos Daly,868,134.720,21.78,5.94,Nunavut,Appliances,0.50
2,1,"DS/HD IBM Formatted Diskettes, 200/Pack - Staples",Carlos Daly,868,114.460,47.98,3.61,Nunavut,Computer Peripherals,0.71
3,1,"Wilson Jones 1"" Hanging DublLock® Ring Binders",Claudia Miner,933,-4.715,5.28,2.99,Nunavut,Binders and Binder Accessories,0.37
4,1,Ultra Commercial Grade Dual Valve Door Closer,Neola Schneider,995,782.910,39.89,3.04,Nunavut,Office Furnishings,0.53
5,1,"#10-4 1/8"" x 9 1/2"" Premium Diagonal Seam Enve...",Allen Rosenblatt,998,93.800,15.74,1.39,Nunavut,Envelopes,0.40
6,1,Hon 4-Shelf Metal Bookcases,Sylvia Foulston,1154,440.720,100.98,26.22,Nunavut,Bookcases,0.60
7,1,"Lesro Sheffield Collection Coffee Table, End T...",Sylvia Foulston,1154,-481.041,71.37,69.00,Nunavut,Tables,0.68
8,1,g520,Jim Radford,1344,-11.682,65.99,5.26,Nunavut,Telephones and Communication,0.59

In [13]:
 from scipy.io import loadmat as lm

In [14]:
x = lm('data/MatlabTest.mat')

In [15]:
x

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Sun Jun 18 12:46:39 2017',
 '__version__': '1.0',
 '__globals__': [],
 'data': array([[['a', '1'],
         ['b', '2']]], dtype='<U1')}

In [16]:
x['data']

array([[['a', '1'],
        ['b', '2']]], dtype='<U1')

 # Fetch remote file

In [17]:
html_url = 'http://www.google.com'
csv_url = 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv'
json_url = 'https://support.oneskyapp.com/hc/en-us/article_attachments/202761727/example_2.json'

In [18]:
import requests

In [19]:
res = requests.get(html_url)

In [20]:
htmldata=res.text

In [21]:
from bs4 import BeautifulSoup as bs

In [22]:
soup = bs(htmldata, 'html.parser')

In [23]:
soup.find('title').string

'Google'

In [24]:
res = requests.get(json_url)

In [25]:
res.text

'{\n    "quiz": {\n        "sport": {\n            "q1": {\n                "question": "Which one is correct team name in NBA?",\n                "options": [\n                    "New York Bulls",\n                    "Los Angeles Kings",\n                    "Golden State Warriros",\n                    "Huston Rocket"\n                ],\n                "answer": "Huston Rocket"\n            }\n        },\n        "maths": {\n            "q1": {\n                "question": "5 + 7 = ?",\n                "options": [\n                    "10",\n                    "11",\n                    "12",\n                    "13"\n                ],\n                "answer": "12"\n            },\n            "q2": {\n                "question": "12 - 8 = ?",\n                "options": [\n                    "1",\n                    "2",\n                    "3",\n                    "4"\n                ],\n                "answer": "4"\n            }\n        }\n    }\n}'

In [26]:
json_data = res.json()

In [27]:
json_data['quiz']['sport']['q1']['options'][0]

'New York Bulls'

In [28]:
df = pd.read_csv(csv_url)

In [29]:
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

# Facebook API

In [30]:
# https://developers.facebook.com/docs/graph-api/using-graph-api

In [31]:
# https://developers.facebook.com/tools/explorer/145634995501895

In [32]:
# https://graph.facebook.com/v15.0/me?access_token

In [33]:
token = ''

In [34]:
me = 'https://graph.facebook.com/v15.0/me?access_token='+token
friends = 'https://graph.facebook.com/v2.9/me/friends?access_token='+token
search = 'https://graph.facebook.com/v2.9/search?q=Mark&type=user&access_token='+token

In [35]:
me1 = requests.get(me)
friends1 = requests.get(friends)
search1 = requests.get(search)

In [36]:
me1.text

'{"name":"\\u0410\\u043b\\u0435\\u043a\\u0441\\u0435\\u0439 \\u0415\\u043b\\u043e\\u0445\\u0438\\u043d","id":"5545064805579283"}'

In [37]:
friends1.text

'{"data":[]}'

In [38]:
search1.text

'{"error":{"message":"Unsupported get request. Please read the Graph API documentation at https:\\/\\/developers.facebook.com\\/docs\\/graph-api","type":"GraphMethodException","code":100,"error_subcode":33,"fbtrace_id":"AxQ9M1H3dx3tlEb6e74Mw6-"}}'